.App {
  text-align: center;
}

.op-container {
    display: flex;
    flex-direction: row;
    border-style: solid;
    border-width: 10px;
    border-color: black;
    border-radius: 5px;
    padding:20px;
}

.component-container {
    border-style: solid;
    border-width: 5px;
    border-color: dimgray;
    border-radius: 5px;
    background-color: aqua;
    padding: 10px;
    margin: 10px;
    flex-grow: 1;
}




